<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37503055690-u220psmpv24u255l7g5ivnmcee8sar9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37503055690-u220psmpv24u255l7g5ivnmcee8sar9g</string>
	<key>API_KEY</key>
	<string>AIzaSyAxfAGfeQhV2TWPAHeXGdpq4N_3MGe_rvU</string>
	<key>GCM_SENDER_ID</key>
	<string>37503055690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.network</string>
	<key>PROJECT_ID</key>
	<string>fir-homework-10751</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-homework-10751.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37503055690:ios:3d8eb5b09c2bf1b0eb73b3</string>
</dict>
</plist>